@using Models.SmartHouseMVC
@model DevicesContext
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/Content/Site.css" rel="stylesheet" />
</head>
<body>
    <div>
        <div id="AddPanel">
            <form method="post">
                Введите название устройства.<br />
                <p>@Html.TextBox("AddName", "")</p>


                @Html.RadioButton("AddDev", "Бойлер",true)
                Бойлер<br />
                @Html.RadioButton("AddDev", "Телевизор")
                Телевизор<br />
                @Html.RadioButton("AddDev", "Жалюзи")
                Жалюзи<br />
                @Html.RadioButton("AddDev", "Светильник")
                Светильник<br />
                @Html.RadioButton("AddDev", "Обогрев")
                Обогрев<br />


                <input name="AddDevButton" type="submit" value="Добавить" /><br />
                <label style="color:red;">@ViewBag.ErrorAddName</label>
            </form>

        </div>
        <table>

            @foreach (Device i in Model.tvsets)
            {
                <tr>
                    <td id="tvsets">@i.ToString()</td>
                    <td>
                        @Html.ActionLink("Вкл/Выкл", "OnOff", new { id = i.Id, Type = i.GetType() })
                        @Html.ActionLink("Управлять", "Edit", new { id = i.Id, Type = i.GetType() })
                        @Html.ActionLink("Убрать из списка", "Delete", new { id = i.Id, Type = i.GetType() })

                    </td>
                </tr>
            }
            @foreach (Device i in Model.boilers)
            {
                <tr>
                    <td id="boilers">@i.ToString()</td>
                    <td>
                        @Html.ActionLink("Вкл/Выкл", "OnOff", new { id = i.Id, Type = i.GetType() })
                        @Html.ActionLink("Управлять", "Edit", new { id = i.Id, Type = i.GetType() })
                        @Html.ActionLink("Убрать из списка", "Delete", new { id = i.Id, Type = i.GetType() })

                    </td>
                </tr>
            }

            @foreach (Device i in Model.heatings)
            {
                <tr>
                    <td id="heatings">@i.ToString()</td>
                    <td>
                        @Html.ActionLink("Вкл/Выкл", "OnOff", new { id = i.Id, Type = i.GetType() })
                        @Html.ActionLink("Управлять", "Edit", new { id = i.Id, Type = i.GetType() })
                        @Html.ActionLink("Убрать из списка", "Delete", new { id = i.Id, Type = i.GetType() })

                    </td>
                </tr>
            }

            @foreach (Device i in Model.lamps)
            {
                <tr>
                    <td id="lamps">@i.ToString()</td>
                    <td>
                        @Html.ActionLink("Вкл/Выкл", "OnOff", new { id = i.Id, Type = i.GetType() })
                        @Html.ActionLink("Убрать из списка", "Delete", new { id = i.Id, Type = i.GetType() })

                    </td>
                </tr>
            }

            @foreach (Device i in Model.louvers)
            {
                <tr>
                    <td id="louvers">@i.ToString()</td>
                    <td>
                        @Html.ActionLink("Вкл/Выкл", "OnOff", new { id = i.Id, Type = i.GetType() })
                        @Html.ActionLink("Управлять", "Edit", new { id = i.Id, Type = i.GetType() })
                        @Html.ActionLink("Убрать из списка", "Delete", new { id = i.Id, Type = i.GetType() })

                    </td>
                </tr>
            }
        </table>
    </div>
</body>
</html>
